{% extends 'base.html' %}

{% block header %}
<p class="p-3 mb-2 fs-2">{{ title }}</p>
<div class="row">
    <div class="col-6 col-sm-3">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='imgs/house.svg') }}" alt="home">home
        </a>
    </div>
    <div class="col-6 col-sm-3">
        <a href="/download/{{ title }}">
            <img src="{{ url_for('static', filename='imgs/cloud-download.svg') }}" alt="download">download
        </a>
    </div>
</div>


{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <textarea class="form-control" rows="30">{{ data }}</textarea>
    </div>
</div>

<div class="px-5 py-0 my-0"></div>

{% endblock %}
