[github]
organization = "*********"
token = "**********"

[repos]
contains = ["-ui", "-frontend"]

[scan]
path = "/var/tmp/linknotfound"
exclude = [".git", ".travis"]
regex = "*******"

[report]
name = "linknotfound"
path = "/var/tmp/"

[aws]
bucket = "report-linknotfound"
aws_access_key_id = "*******"
aws_secret_key_id = "*******"
