[github]
organization = "*********"
token = "**********"

[repos]
contains = ["-ui", "-frontend"]

[scan]
path = "/var/tmp/linknotfound"
exclude = [".git", ".travis"]
regex = "*******"

[report]
name = "linknotfound"
path = "/var/tmp/"
